<!DOCTYPE html>
<html lang="en">
<head>

    <title>Title</title>
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.2.0/jquery.min.js"></script>
</head>
<body>

<form id="registerform" action="register">




    <div><label> User Name : <input type="text" id="name"/> </label></div>
    <div><label> User Email : <input type="text" id="email"/> </label></div>
    <div><label> Password: <input type="password" id="password"/> </label></div>
     <div><input type="submit" value="Sign In" /></div>

</form>
<div id="error"></div>



<script type="text/javascript">
    $( "#registerform" ).submit(function( event ) {
        console.log(5);
        event.preventDefault();

        var userDTO = {
            email : $("#email").val(),
            name : $("#name").val(),
            password : $("#password").val()
        }

         console.log(userDTO);
        $.ajax({
            url :"register2" ,
            method : 'POST',
            contentType: 'application/json; charset=UTF-8',
            dataType : 'json',
            data : JSON.stringify(userDTO),
            success : function (res) {
                console.log("Login");
                $('#name').innerHTML = 'New user registered';
            }
        });
    });

    </script>


</body>
</html>